<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>The Think Tank</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

<header>
   <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
         <div class="nav-title">
            The Think Tank
         </div>
      </div>
      <div class="nav-btn">
         <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
         </label>
      </div>
      <div class="nav-links">
         <ul>
            <li><a href="Homepage.html">Home</a></li>
            <li><a href="publication.html">Publications</a></li>
            <li><a href="details.html">Details</a></li>
           <a href="" class="icon">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-linkedin"></i>
           </a>
         </ul>
      </div>
   </div>
</header>
    
<div class="details-content">
   <div class="details">
      <div class="img">
         <img src="../images/back (2).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>GUIA DE CRIPTOMINEDAS</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href="https://www.amazon.com/Gu%C3%ADa-Criptomonedas-Completa-Invertir-Ingresos/dp/1646940172"><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (6).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Book of manners</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href="https://darpdfs.org/wp-content/uploads/2020/09/The-Book-of-Manners.pdf"><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (4).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The French revolution</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href="details"><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (5).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Wisdom of the Vedas</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href="details.html"><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (3).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Collected Poems</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href="details.html"><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (7).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>Ruskin Bond</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (8).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Fault In Our Stars</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (9).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>A Tale Of Two Cities</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   <div class="details">
      <div class="img">
         <img src="../images/back (10).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Hobbit</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae asperiores officia explicabo et deleniti exercitationem quo corrupti quidem, minus, rem magni numquam expedita repudiandae sit qui ratione mollitia. Quae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae blanditiis corrupti enim amet sit tempore necessitatibus omnis culpa nihil itaque aliquam error natus, iste quae? Sit, nihil. Aut, incidunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus molestiae voluptatem tempora impedit natus, ex ut quibusdam id. Voluptates unde iusto, error architecto aliquid explicabo recusandae soluta doloribus fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, porro eaque. Adipisci dolore sunt, aspernatur exercitationem vero impedit facere animi asperiores, iusto maiores minus non quidem excepturi consectetur, nesciunt sequi!
         </p>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   </div>

<footer class="footer-distributed">

   <div class="footer-left">
       <h3>The<span>ThinkTank</span></h3>

       <!-- <p class="footer-links">
           <a href="#">Home</a>
           |
           <a href="#">Publications</a>
           |
           <a href="#">Details</a>
       </p> -->

       <p class="footer-company-name">Copyright © 2021 <strong>theThinkTank</strong> All rights reserved</p>
   </div>

   <div class="footer-center">
       <!-- <div>
           <i class="fa fa-map-marker"></i>
           <p><span>Rwanda</span>
               Kigali</p>
       </div>

       <div>
           <i class="fa fa-phone"></i>
           <p>+250 445 456 678</p>
       </div> -->
       <div>
           <i class="fa fa-envelope"></i>
           <p><a href="mailto:sagar00001.co@gmail.com">thethinktank@gmail.com</a></p>
       </div>
   </div>
   <div class="footer-right">
       <p class="footer-company-about">
           <span>About the website</span>
           <strong>The Think Tank</strong> is a website which helps you get diffrrent publications like books, articles
           and
          OTHER forms of publications
       </p>
       <!-- <div class="footer-icons">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-instagram"></i></a>
           <a href="#"><i class="fa fa-linkedin"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
           <a href="#"><i class="fa fa-youtube"></i></a>
       </div> -->
   </div>
</footer>
</body>

</html>

        