<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>The Think Tank</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="home-body">

<header>
   <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
         <div class="nav-title">
            The Think Tank
         </div>
      </div>
      <div class="nav-btn">
         <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
         </label>
      </div>
      <div class="nav-links">
         <ul>
            <li><a href="Homepage.html">Home</a></li>
            <li><a href="publication.html">Publications</a></li>
            <li><a href="details.html">Details</a></li>
           <a href="" class="icon">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-linkedin"></i>
           </a>
         </ul>
      </div>
   </div>
</header>
    
<div class="home-content">
   <div class="img">
      <img src="../images//back (1).jpeg" alt="" height="700px">
   </div>
   <div class="home-intro">
      <h1>Welcome to <span>THETHINKTANK</span></h1>
      <p>
         The Think Tank is a website dedicated to providing thought-provoking content
          on a variety of topics. We believe that everyone has something to contribute, 
          and we want to create a space where people can share their ideas and learn from 
          each other. Our goal is to help people think more critically about the world around them 
          and to make informed decisions about their lives.

         We publish a variety of content, including articles, essays, blog posts, and videos. 
         We also host events and workshops to promote dialogue and discussion. 
         We believe that everyone has the potential to be a thinker, and we want to help people reach
          their full potential.
      </p>
      <a href="publication.html"><button>Get Started</button></a>
   </div>
</div>

<footer class="footer-distributed">

   <div class="footer-left">
       <h3>The<span>ThinkTank</span></h3>

       <!-- <p class="footer-links">
           <a href="#">Home</a>
           |
           <a href="#">Publications</a>
           |
           <a href="#">Details</a>
       </p> -->

       <p class="footer-company-name">Copyright © 2021 <strong>theThinkTank</strong> All rights reserved</p>
   </div>

   <div class="footer-center">
       <!-- <div>
           <i class="fa fa-map-marker"></i>
           <p><span>Rwanda</span>
               Kigali</p>
       </div>

       <div>
           <i class="fa fa-phone"></i>
           <p>+250 445 456 678</p>
       </div> -->
       <div>
           <i class="fa fa-envelope"></i>
           <p><a href="mailto:sagar00001.co@gmail.com">thethinktank@gmail.com</a></p>
       </div>
   </div>
   <div class="footer-right">
       <p class="footer-company-about">
           <span>About the website</span>
           <strong>The Think Tank</strong> is a website which helps you get diffrrent publications like books, articles
           and
          OTHER forms of publications
       </p>
       <!-- <div class="footer-icons">
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-instagram"></i></a>
           <a href="#"><i class="fa fa-linkedin"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
           <a href="#"><i class="fa fa-youtube"></i></a>
       </div> -->
   </div>
</footer>

</body>

</html>

        