<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>The Think Tank</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
<header>
   <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
         <div class="nav-title">
            The Think Tank
         </div>
      </div>
      <div class="nav-btn">
         <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
         </label>
      </div>
      <div class="nav-links">
         <ul>
            <li><a href="Homepage.html">Home</a></li>
            <li><a href="publication.html">Publications</a></li>
            <li><a href="details.html">Details</a></li>
           <a href="" class="icon">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-linkedin"></i>
           </a>
         </ul>
      </div>
   </div>
</header>

<div class="publication-header">
   <h1>Get the one of your choice</h1>
</div>
<div class="publication-content">
   <div class="publications">
      <div class="img">
         <img src="../images/back (2).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>GUIA DE CRIPTOMINEDAS</h2>
         <h3>Written by <span>Jaime Venegas</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href="details.html"><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (6).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Book of manners</h2>
         <h3>Written by <span>Jaime Venegas</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href="details.html"><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (4).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The French revolution</h2>
         <h3>Written by <span>Jaime Venegas</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href="details"><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (5).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Wisdom of the Vedas</h2>
         <h3>Written by <span>Jaime Venegas</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href="details.html"><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (3).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Collected Poems</h2>
         <h3>Written by <span>Jaime Venegas</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href="details.html"><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (7).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>Ruskin Bond</h2>
         <h3>Written by <span>Jaime Venegas</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (8).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Fault In Our Stars</h2>
         <h3>Written by <span>John Green</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (9).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>A Tale Of Two Cities</h2>
         <h3>Written by <span>Charles Dickens</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
   <div class="publications">
      <div class="img">
         <img src="../images/back (10).jpeg" alt="" width="200" height="300">
      </div>
      <div class="pub-content">
         <h2>The Hobbit</h2>
         <h3>Written by <span>J.R.R Tolkien</span> </h3>
         <h4>Published: January 24 <sup>th</sup></h4>
         <a href=""><button>Read More</button></a>
      </div>
   </div>
</div>
    
<footer class="footer-distributed">

        <div class="footer-left">
            <h3>The<span>ThinkTank</span></h3>

            <!-- <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Publications</a>
                |
                <a href="#">Details</a>
            </p> -->

            <p class="footer-company-name">Copyright © 2021 <strong>theThinkTank</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <!-- <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Rwanda</span>
                    Kigali</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+250 445 456 678</p>
            </div> -->
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">thethinktank@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the website</span>
                <strong>The Think Tank</strong> is a website which helps you get diffrrent publications like books, articles
                and
               OTHER forms of publications
            </p>
            <!-- <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div> -->
        </div>
    </footer>

</body>

</html>

        